<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.red {
			color: red;
			font-size: 20px;
		}
		.blue {
			color: blueviolet;
		}
	</style>
</head>
<body>
	<div id="test">
		你好，{{content}},{{description}}
		<span>{{description}}</span><br/>
		{{obj.name}}
		{{obj.x}} <br>
		<input type="text" v-model="obj.name" v-on:keydown="enter" name="">
		<ul>
			<li v-for="{key} in list">
				姓名: {{key.a}}
				年龄: {{key.b}}
<!--				 <p v-for="(temp) in key.list1">-->
<!--					{{temp.a}}-->
<!--				</p>-->
			</li>
		</ul>

<!--		<img v-bind:src="imgSrc" alt="暂无图片">-->
		<br>
		<span :class="haha">小猪佩奇</span>
		<br>
		<span :class="{red: obj.x > 2, blue: obj.x > 2}">喜洋洋</span>
	</div>

	<script type="module">
		import Due from "./core/index.js"
		window.test = new Due({
			el: "test",
			data: {
				content: "panda",
				description: "panda say hello",
				obj: {
					name: 'pig',
					age: 1,
					x: 123
				},
				list: [
					{
						a: 'panda',
						b: 23,
						list1: [
							{
								a: 'aa'
							},
							{
								a: 'bb'
							}
						]
					},
					{
						a: 'mokey',
						b:  20,
						list1: [
							{
								a: 'cc'
							},
							{
								a: 'dd'
							}
						]
					}
				],
				imgSrc: "a.jpg",
				haha: "red"
			},
			methods: {
				enter: function () {
					console.log("hello", this)
				}
			}
		})
		// console.log(test)
	</script>
</body>
</html>