<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="test">
		你好，{{content}},{{description}}
		<span>{{description}}</span><br/>
		{{obj.name}}
		{{obj.x}} <br>
		<input type="text" v-model="obj.name" name="">
		<li v-for="{key} in list">
			{{key.a}}
		</li>
	</div>

	<script type="module">
		import Due from "./core/index.js"
		window.test = new Due({
			el: "test",
			data: {
				content: "panda",
				description: "panda say hello",
				obj: {
					name: 'pig',
					age: 1
				},
				list: [
					{
						a: 'panda',
						b: 23
					},
					{
						a: 'mokey',
						b:  20
					}
				]
			}
		})
		// console.log(test)
	</script>
</body>
</html>